*{
    margin:0px;
    box-sizing: border-box;
}

.roboCard{
    background-image: url("card-pattern.png");
    background-size: cover;
    background-position: center;
    background-color:rgba(50, 10, 50, 30);
}

body{
    background-image: url("circuit-pattern.png");
    background-color:rgba(20, 14, 100, 0.5);
    height: 90vh;
    background-position: center;
}


h1{
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-weight:lighter;
    margin:auto 2vw;
}

#searchInput{
    height: 5vh;
    margin: auto 2vw;
    background: lightblue;
    border: none;
    border-radius: 4px;
    width:35vw;
    font-size:1.2em;
}


#header{
    background-color: rgba(20, 40, 144, 30);
    display:flex;
    height: 10vh;
    padding: 5px 20px;
    position:fixed;
    width: 100%;
    border-bottom: 5px solid lightblue;
}

#main{
display:flex;
flex-wrap:wrap;
justify-content:center;
padding:12vh 10vw;
}

#main div{
    flex: 1 1 35%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    max-width: 30%;


    background-color:rgb(55, 150, 230);
    background-image: url("card-pattern.png");
    background-position: center;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.1em;

}

#main div img{
    height:auto;
    width:auto;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color:rgb(13, 10, 100);

        }

#main h4{
    margin-top: 0px;
    font-size:1em;
    margin-bottom:auto;
  }

.hidden{
    display:none !important;
}
